* {
    margin: 0;
    padding: 0;

}

body {
    background: url('../img/fondo.jpg');    
    background-size: contain;
    background-size: cover;
    background-position: center;
    color:#fff;	
	font-family: Arial;    
    }

h1,h2,h3,h4,h5,h6 {
    margin: 0; padding: 10px;
    text-align: center;
    }

.principal {
	margin-top: 20px;
	margin-bottom: 20px;
    }

    .aux {
	text-align: center;
	background: #00796B;
    }

.header {
    background: #303F9F;
    }

.sidebar1 {
     background: #1976D2;
    
    }
.contenido {
    align-items: center;
    }    

.sidebar2 { 
    background: #E64A19; 
    }

.footer { 
    background: #388E3C; 
    }